<div class="container-fluid">
  <div class="row">
    <div class="col">
      <% if @genre.errors.any? %>
        <p><%= @genre.errors.count %>件のエラーが発生しました</p>
        <ul>
          <% @genre.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      
      <%= form_with model: @genre, url: admin_genre_path, method: :patch, local: true do |f| %>
        <div class="form-group">
          <%= f.label :商品説明, class: "col-sm-3" %>
          <%= f.text_field :method, class: "form-control" %>
        </div>
        <div class="form-group">
          <div class="col-sm-9 offset-sm-3">
            <%= f.submit '変更を保存', class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
