<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <%= render 'member/details/show', member: @member %>
    </div>
    <div class="col-8">
      <h4><%= @genre.method %>一覧</h4>
      <table class="table table-bordered border">
        <thead>
          <tr>
            <th class="border border-dark align-middle bg-white">釣果</th>
            <th class="border border-dark align-middle bg-white">タイトル</th>
            <th class="border border-dark align-middle bg-white"></th>
          </tr>
        </thead>
        <tbody>
          <% @results.each do |result| %>
            <tr>
              <td class="border border-dark align-middle bg-white"><%= result.name %></td>
              <td class="border border-dark align-middle bg-white"><%= result.title %></td>
              <td class="border border-dark align-middle bg-white"><%= link_to "詳細", member_result_show_path(result.id) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="d-flex justify-content-center text-center">
        <%= paginate @results %>
      </div>
    </div><!--col-8 -->
  </div><!-- row -->
</div><!-- container -->
