<div class="container-fluid">
  <div class="row">
    <div class="col-5">
      <%= render 'member/details/show', member: @member %>
    </div>
    <div class="col-7">
      <h4><%= @genre.method %>一覧</h4>
      <table>
        <thead>
          <tr>
            <th>釣果</th>
            <th>タイトル</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @results.each do |result| %>
            <tr>
              <td><%= result.name %></td>
              <td><%= result.title %></td>
              <td><%= link_to "詳細", member_result_show_path(result.id) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="d-flex justify-content-center text-center">
        <%= paginate @results %>
      </div>
    </div>
  </div>
</div>
