
<h4>会員情報</h4>
<div class="table">
  <tbody>
    <tr>
    <th>
      <%= link_to member_mypage_path(member) do %>
        <%= image_tag member.get_profile_image %>
      <% end %>
    </th>
  </tr>
    <tr>
      <td>name</td>
    </tr>
    <tr>
      <td><%= member.name %></td>
    </tr>
    <tr>
      <td>introduction</td>
    </tr>
    <tr>
      <td><%= member.introduction %></td>
    </tr>
    </tbody>
  </div>
  
  <% if current_member == @member %>
   <div>
    <%= link_to "EDIT", member_path(member.id), class: "btn btn-secondary" %>
   </div>

   <div>
    <%= link_to "新規釣果", member_result_new_path %>
   </div>
  <% end %>