<div class="container-fluid">
  <h4 class="mb-5">メンバー情報</h4>

  <%= form_with model: @member, url: member_path, method: :patch, local: true do |f| %>
    <div class="row">
      <label class="col-2">ニックネーム</label>
      <div class="col-2">
        <%= f.text_field :name, autofocus: true, class: "col-12" %>
      </div>

      <label class="col-2">プロフィール</label>
      <div class="col-6">
        <%= f.text_area :introduction, rows: 5, class: "col-12" %>
      </div>
    </div><!-- row -->

    <div class="row mt-5">
      <label class="col-2">プロフィール画像</label>
      <div class="col-2">
        <%= f.file_field :profile_image, accept: 'image/*' %>
      </div>
    </div><!-- row -->

    <div class="row mt-5">
      <label class="col-2">メールアドレス</label>
      <div class="col-8">
        <%= f.text_field :email, class: "col-8" %>
      </div>
    </div><!-- row -->

    <div class="row mt-5">
      <div class="col-4 d-flex justify-content-center">
        <%= f.submit "変更を保存", class: "btn btn-success" %>
      </div>
  <% end %>

      <div class="col-4 d-flex justify-content-center">
        <!--<%= link_to "パスワード変更", class: "btn btn-primary" %>-->
      </div>


    <div class="col-4 d-flex justify-content-center">
      <%= link_to "退会する", member_mypage_confirm_path, class: "btn btn-danger" %>
    </div>
  </div><!-- row -->
</div><!-- container -->
