<div class="container-fluid">
  <h4 class="mb-5">メンバー情報</h4>
  <%= form_with model: @member, url: member_path, method: :patch, local: true do |f| %>
    <div class="row">
      <label class="col-2">ニックネーム</label>
      <div class="col-2">
        <%= f.text_field :name, autofocus: true %>
      </div><!-- col-2 -->
      <label class="col-2">紹介文</label>
      <div class="col-6">
        <%= f.text_area :introduction, rows: 5 %>
      </div><!-- col-6 -->
    </div><!-- row -->

    <div class="row">
      <label class="col-2">プロフィール画像</label>
      <div class="col-2">
        <%= f.file_field :profile_image, accept: 'image/*' %>
      </div><!-- col-2 -->
    </div><!-- row -->

    <div class="row">
      <label class="col-2">メールアドレス</label>
      <div class="col-8">
        <%= f.text_field :email %>
      </div><!-- col-8 -->
    </div><!-- row -->

    <div class="row">
      <div class="col">
        <%= f.submit "変更を保存", class: "btn btn-success" %>
      </div>
    </div><!-- row -->
  <% end %>

  <div class="row">
    <div class="col">
      <%= link_to "退会する", member_mypage_confirm_path, class: "btn btn-danger" %>
    </div>
  </div><!-- row -->
</div><!-- container -->