<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <%= render 'member/details/show', member: @member %>
    </div><!-- col-4 -->

    <div class="col-8">
      <table class="table table-bordered border">
        <thead>
          <tr>
            <th>釣果</th>
            <th>エリア</th>
            <th>エリア詳細</th>
            <th>投稿日時</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @results.each do |result| %>
            <tr>
              <td class="border border-dark align-middle bg-white">
                <%= result.name %>
              </td>
              <td><%= result.prefecture %></td>
              <td><%= result.city %></td>
              <td class="border border-dark align-middle bg-white"><%= result.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
              <td class="border border-dark align-middle bg-white"><%= link_to "詳細", member_result_show_path(result.id), class: "btn btn-primary" %></td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="d-flex justify-content-center text-center">
        <%= paginate @results %>
      </div>
    </div><!--col-8 -->
  </div><!-- row -->
</div><!-- container -->
