<div class="container-fluid">
  <h4>新規釣果投稿情報入力</h4>

  <% if @result.errors.any? %>
    <p><%= @result.errors.count %>件のエラーが発生しました</p>
    <ul>
      <% @result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with model: @result, url: member_result_new_path, method: :post, local: true do |f| %>
    <div class="row">
      <div class="col">
        <%= f.label :添付画像 %>
        <%= f.file_field :result_images, multiple: true, class: "form-control", accept: 'image/*' %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.label :タイトル %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.label :投稿文 %>
        <%= f.text_area :body, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.label :釣果 %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.label :ポイント %>
        <%= f.text_field :point, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9">
        <%= f.label :ジャンル %>
        <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :method), include_blank: "--選択して下さい--", class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <%= f.label :都道府県 %>
        <%= f.text_field :prefecture, include_blank: "--入力して下さい--", class: "form-control" %>
        <%= f.label :市区町村 %>
        <%= f.text_field :city, include_blank: "--入力してください--", class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <%= f.label :時間帯 %>
        <%= f.select :time, Result.times.keys.map { |k| [I18n.t("enums.result.times.#{k}"), k] }, include_blank: "--選択して下さい--", class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.label :天気 %>
        <%= f.select :weather, Result.weathers.keys.map { |k| [I18n.t("enums.result.weathers.#{k}"), k] }, include_blank: "--選択して下さい--", class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.label :潮 %>
        <%= f.select :tide, Result.tides.keys.map { |k| [I18n.t("enums.result.tides.#{k}"), k] }, include_blank: "--選択して下さい--", class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.label :潮の上下 %>
        <%= f.select :tide_updown, Result.tide_updowns.keys.map { |k| [I18n.t("enums.result.tide_updowns.#{k}"), k] }, include_blank: "--選択して下さい--", class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.label :波高 %>
        <%= f.select :wave, Result.waves.keys.map { |k| [I18n.t("enums.result.waves.#{k}"), k] }, include_blank: "--選択して下さい--", class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.label :光源 %>
        <%= f.select :light, Result.lights.keys.map { |k| [I18n.t("enums.result.lights.#{k}"), k] }, include_blank: "--選択して下さい--", class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9 offset-sm-3">
        <%= f.submit '釣果投稿', class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div><!-- container -->

<!--<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>-->
<!--<script>-->

<!-- $(document).on('turbolinks:load', function() {-->

                <!--//都道府県一覧を取得する-->
<!--                $.ajax({-->
<!--                    url: 'https://geoapi.heartrails.com/api/json?method=getPrefectures',-->
<!--                    method: 'GET',-->
<!--                    dataType: 'jsonp'-->
<!--                }).done((res)=>{-->
<!--                    console.log('都道府県取得');-->
<!--                    let prefectures = res.response.prefecture;-->
<!--                    for(let prefecture of prefectures){-->
<!--                        $('#result_prefectures').append(`<option>${prefecture}</option>`);-->
<!--                    }-->

<!--                }).fail((error)=>{-->
<!--                    console.log(error);-->
<!--                })-->



<!--console.log($('#result_prefectures'))-->
<!--                 $(document).on('change','#result_prefecture',()=>{-->
<!--                    let prefecture = $('#result_prefecture').val();-->
<!--                    $.ajax({-->
<!--                        url: 'https://geoapi.heartrails.com/api/json?method=getCities',-->
<!--                        method: 'GET',-->
<!--                        dataType: 'jsonp',-->
<!--                        data: {-->
<!--                            prefecture: prefecture-->
<!--                        }-->
<!--                    }).done((res)=>{-->
<!--                        let cities = res.response.location;-->
<!--                        console.log(cities);-->
<!--                        $('#result_city').empty();-->
<!--                        $('#result_city').append(`<option>選択してください</option>`);-->
<!--                        for(let city of cities){-->
<!--                            $('#result_city').append(`<option>${city.city}</option>`);-->
<!--                        }-->
<!--                    }).fail((error)=>{-->
<!--                        console.log(error);-->
<!--                    })-->
<!--                 })-->
<!--             })-->
<!--        </script>-->
