
<div>
 <% if @result.result_images.attached? %>
  <% @result.each do |result| %>
   <%= image_tag result.get_result_images(200,200) %>
  <% end %>
 <% end %>
</div>
<div>
  <%= @result.title %>
</div>
<div>
  <%= @result.body %>
</div>
<div>
  <%= @result.name %>
</div>
<div>
  <%= @result.point %>
</div>
<div>
  <%= @result.genre_id %>
</div>
<div>
  <%= @result.time %>
</div>
<div>
  <%= @result.weather %>
</div>
<div>
  <%= @result.tide %>
</div>
<div>
  <%= @result.tide_updown %>
</div>
<div>
  <%= @result.wave %>
</div>
<div>
  <%= @result.light %>
</div>
