<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <%= render 'member/details/show', member: @member %>
    </div>
    <div class="col-8">
      <div>
        <% if @result.result_images.present? %>
          <% @result.result_images.each do |image| %>
            <%= image_tag image %>
          <% end %>
        <% else %>
          <%= image_tag "no_image.jpg" %>
        <% end %>
      </div>
      <div>
        <%= @result.title %>
      </div>
      <div>
        <%= @result.body %>
      </div>
      <div>
        <%= @result.name %>
      </div>
      <div>
        <%= @result.point %>
      </div>
      <div>
        <%= @result.genre.method %>
      </div>
      <div>
        <%= @result.time %>
      </div>
      <div>
        <%= @result.weather %>
      </div>
      <div>
        <%= @result.tide %>
      </div>
      <div>
        <%= @result.tide_updown %>
      </div>
      <div>
        <%= @result.wave %>
      </div>
      <div>
        <%= @result.light %>
      </div>
      <div>
       <%= render "member/favorites/favorite", result: @result %>
      </div>
      <div>
        <% if @result.member == current_member %>
          <%= link_to '編集', member_result_edit_path(@result), class: "btn btn-sm btn-success" %>
          <%= link_to "削除", member_result_delete_path(@result), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-danger" %>
        <% end %>
      </div>
      <% if member_signed_in? || admin_signed_in? %>
        <div>
          <table class="table">
            <% @result.comments.each do |comment| %>
              <tbody>
                <tr>
                  <td>
                    <%= comment.comment %>
                  </td>
                  <td>
                    <%= link_to member_mypage_path(@member) do %>
                      <%= image_tag comment.member.get_profile_image %>
                      <%= comment.member.name %>
                    <% end %>
                  </td>
                  <td>
                    <%= comment.created_at.strftime('%Y/%m/%d') %>
                    <% if comment.member == current_member %>
                      <td>
                        <%= link_to "削除", member_result_comment_path(comment.result, comment), method: :delete %>
                      </td>
                    <% end %>
                  </td>
                </tr>
              </tbody>
            <% end %>
          </table>
        </div>
        <div>
          <%= form_with model: [@result, @comment], url: member_result_comments_path(@result), method: :post, local: true do |f| %>
            <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
            <%= f.submit "送信する" %>
          <% end %>
        </div>
      <% end %>
    </div><!-- col-8 -->
  </div><!-- row -->
</div><!-- container -->
