
<div>
  <%= image_tag @result.get_result_image(100, 100) %>
</div>
<div>
  <%= @result.title %>
</div>
<div>
  <%= @result.body %>
</div>
<div>
  <%= @result.name %>
</div>
<div>
  <%= @result.point %>
</div>
<div>
  <%= @result.genre.name %>
</div>
<div>
  <%= @result.time.name %>
</div>
<div>
  <%= @result.weather.name %>
</div>
<div>
  <%= @result.tide.name %>
</div>
<div>
  <%= @result.tide_updown.name %>
</div>
<div>
  <%= @result.wave.name %>
</div>
<div>
  <%= @result.light.name %>
</div>
