<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <%= render "member/details/show", member: @member %>
    </div>
    <div class="col-8">
      <div>
        <% if @result.result_images.present? %>
          <% @result.result_images.each do |image| %>
            <%= image_tag image %>
          <% end %>
        <% else %>
          <%= image_tag "no_image.jpg" %>
        <% end %>
      </div>
      <div>
        <%= render "member/results/show", result: @result %>
      </div>
      <div id="favorite_buttons_<%= @result.id %>">
        <%= render "member/favorites/favorite", result: @result %>
      </div>
      <div>
        <% if @result.member == current_member %>
          <%= link_to '編集', member_result_edit_path(@result), class: "btn btn-sm btn-success" %>
          <%= link_to "削除", member_result_delete_path(@result), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-danger" %>
        <% end %>
      </div>

      <div>
        <%= render "member/comments/form", { result: @result, comment: @comment } %>
      </div>

      <div id="comment">
        <%= render "member/comments/comment", result: @result %>
      </div>
    </div><!-- col-8 -->
  </div><!-- row -->
</div><!-- container -->